<html>

<head>
	<meta charset="UTF-8">
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
	 crossorigin="anonymous"></script>
	<style>
		body {
			margin: 0;
			padding: 0;
		}
	</style>
	<script>
		$(document).ready(function () {

		})

	</script>
</head>

<body>
	<h1>Spaceinfo v1.1 Interface</h1>
	<h2>How it works!</h2>
	You run your Browser on any device in kioskmode and select one of the slideshows available.

	<h2>Slideshows</h2>
	Every page could be part of multiple slideshows. Select which slideshow it should be part of in settings of the page.

	<h2>Available Slideshows<h2>
		<ul>
			{% for show in shows %}
			<li><a href="/shows/{{ show }}.html">{{ show }}</a></li>
			{% endfor %}
		</ul>

		<h2>New Page</h2>
		Add a new page by clicking <a href="?action=newpage">here (not implemented)</a>

		<h2>New slideshow</h2>
		Add a new slideshow by clicking <a href="?action=slideshow">here (not implemented)</a>


	</body>

	</html>
