<html>

<head>
	<meta charset="UTF-8">
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
	 crossorigin="anonymous"></script>
	<style>
		body {
			margin: 0;
			padding: 0;
		}

		iframe {
			border: none;
			margin: 0;
			padding: 0;
		}

		#msg {
			position: absolute;

			margin: 0;
			padding: 0;
			top: 0px;
			left: 0px;
			width: 100%;
			font-size: 4em;
			z-index: 100;
			font-family: monospace;
			color: red;
		}
	</style>
	<script>
		$(document).ready(function () {

		})

		var win0;
		var win1;
		var activeWin = 0

		var nextPage = function() {
			try{
			$.getJSON("{{ showname }}.json", function (data) {
				try{
					var d;
					do {
						d = Math.floor((Math.random() * data.length));
					} while( URL == data[d].link);
					console.log("Loading",data[d].link);
					var URL = data[d].link;
					//$('#frame').attr('src', URL);

					if(activeWin == 0){
						win1 = window.open(URL);

					}else{
						win0 = window.open(URL);
					}

					try {
						if(activeWin == 0){
							win0.close();

						}else{
							win1.close();
						}
					}catch(err){

					}

					activeWin = (activeWin + 1) % 2


					$("#msg").html("");
				}catch(err){
					console.log("ERR: Loading a page!: " + err.message);
					$("#msg").html("ERR: Loading a page!: " + err.message);
				}finally{

				}
			},function(err){
				console.log("ERR: loading json!:");
				$("#msg").html("ERR: could not load json {{showname}}.json!: " + err.message);
			});

		}catch(err){
			console.log("ERR: could not load json {{showname}}.json!: " + err.message);
			$("#msg").html("ERR: could not load json {{showname}}.json!: " + err.message);
		}finally{
			lastSlideTime = new Date().getTime();
		}


		}

		var lastSlideTime = new Date().getTime();

		var checkTime = function() {
			if ((new Date().getTime()) - lastSlideTime >= (30 * 1000)){
				nextPage()
				lastSlideTime = new Date().getTime();
			}
		}

		var URL = "";
		nextPage();
		window.setInterval(checkTime, 1000);
	</script>

</head>

<body>
	<span id="msg"></span>
	<h1>Spaceinfo v1</h1>
	<p>current show: {{ showname }}</p>
	<button onClick="nextPage()">next</button>
</body>

</html>
